.passage-mais-de-les-manger {
    background-color: aquamarine;
    text-decoration: underline;
}

.selectedLang {
    color: black !important;;
}

body {
    background-color: white;
    /* 👇 12.78 score in contrast checker */
    color: #333232; 
    /* 👇 18.58 score in contrast checker */
    /* color: #131313; */
    /* 👇 2.35 score in contrast checker */
    /* color: #a9a9a9; */
    font-family: Futura,Impact,Helvetica,sans-serif;
    font-size: 125%;
    /* margin-left: -10.5em; */
}

a {
    color: red;
    text-decoration: underline;
}

a:hover {
    color: crimson;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

/* #ui-bar {
    display: none;
} */

/* Initial stylesheet for body and links taken from Adam Hammond's CSS
Twine guide (https://www.adamhammond.com/twineguide/). Thank you Adam! */
